@use "sass:map";
@use "./nachiguro-color";

// 数値のインデントを揃えているせいでstylelintがエラーと判定してしまうため、
// ソースコードの読みやすさを優先させてlintの対象から除外する
/* stylelint-disable function-comma-space-after */

$select-state-color-matrix: (
  informative: (
    text: (
      enabled:  nachiguro-color.color(blue, 800),
      hover:    nachiguro-color.color(blue, 800),
      focused:  nachiguro-color.color(blue, 800),
      disabled: nachiguro-color.color(blue, 600)
    ),
    background: (
      enabled:  nachiguro-color.color(blue,    50),
      hover:    nachiguro-color.color(blue,   100),
      focused:  nachiguro-color.color(white, 1000),
      disabled: nachiguro-color.color(blue,   200)
    ),
    border: (
      enabled:  nachiguro-color.color(blue,  400),
      hover:    nachiguro-color.color(blue,  600),
      focused:  nachiguro-color.color(blue,  700),
      disabled: nachiguro-color.color(blue,  400)
    )
  ),
  neutral: (
    text: (
      enabled:  nachiguro-color.color(gray, 800),
      hover:    nachiguro-color.color(gray, 800),
      focused:  nachiguro-color.color(gray, 800),
      disabled: nachiguro-color.color(gray, 600)
    ),
    background: (
      enabled:  nachiguro-color.color(gray,    50),
      hover:    nachiguro-color.color(gray,   100),
      focused:  nachiguro-color.color(white, 1000),
      disabled: nachiguro-color.color(gray,   200)
    ),
    border: (
      enabled:  nachiguro-color.color(gray,  400),
      hover:    nachiguro-color.color(gray,  600),
      focused:  nachiguro-color.color(blue,  700),
      disabled: nachiguro-color.color(gray,  400)
    )
  ),
  positive: (
    text: (
      enabled:  nachiguro-color.color(green, 800),
      hover:    nachiguro-color.color(green, 800),
      focused:  nachiguro-color.color(green, 800),
      disabled: nachiguro-color.color(green, 600)
    ),
    background: (
      enabled:  nachiguro-color.color(green,   50),
      hover:    nachiguro-color.color(green,  100),
      focused:  nachiguro-color.color(white, 1000),
      disabled: nachiguro-color.color(green,  200)
    ),
    border: (
      enabled:  nachiguro-color.color(green,  400),
      hover:    nachiguro-color.color(green,  600),
      focused:  nachiguro-color.color(green,  700),
      disabled: nachiguro-color.color(green,  400)
    )
  ),
  notice: (
    text: (
      enabled:  nachiguro-color.color(amber, 800),
      hover:    nachiguro-color.color(amber, 800),
      focused:  nachiguro-color.color(amber, 800),
      disabled: nachiguro-color.color(amber, 600)
    ),
    background: (
      enabled:  nachiguro-color.color(amber,  50),
      hover:    nachiguro-color.color(amber, 100),
      focused:  nachiguro-color.color(white, 1000),
      disabled: nachiguro-color.color(amber, 200)
    ),
    border: (
      enabled:  nachiguro-color.color(amber,  400),
      hover:    nachiguro-color.color(amber,  600),
      focused:  nachiguro-color.color(amber,  700),
      disabled: nachiguro-color.color(amber,  400)
    )
  ),
  negative: (
    text: (
      enabled:  nachiguro-color.color(red, 800),
      hover:    nachiguro-color.color(red, 800),
      focused:  nachiguro-color.color(red, 800),
      disabled: nachiguro-color.color(red, 600)
    ),
    background: (
      enabled:  nachiguro-color.color(red,     50),
      hover:    nachiguro-color.color(red,    100),
      focused:  nachiguro-color.color(white, 1000),
      disabled: nachiguro-color.color(red,    200)
    ),
    border: (
      enabled:  nachiguro-color.color(red,  400),
      hover:    nachiguro-color.color(red,  600),
      focused:  nachiguro-color.color(red,  700),
      disabled: nachiguro-color.color(red,  400)
    )
  ),
  attention: (
    text: (
      enabled:  nachiguro-color.color(orange, 800),
      hover:    nachiguro-color.color(orange, 800),
      focused:  nachiguro-color.color(orange, 800),
      disabled: nachiguro-color.color(orange, 600)
    ),
    background: (
      enabled:  nachiguro-color.color(orange,  50),
      hover:    nachiguro-color.color(orange, 100),
      focused:  nachiguro-color.color(white, 1000),
      disabled: nachiguro-color.color(orange, 200)
    ),
    border: (
      enabled:  nachiguro-color.color(orange,  400),
      hover:    nachiguro-color.color(orange,  600),
      focused:  nachiguro-color.color(orange,  700),
      disabled: nachiguro-color.color(orange,  400)
    )
  )
) !default;

$textfield-state-color-matrix: (
  informative: (
    text: (
      enabled:  nachiguro-color.color(blue, 800),
      hover:    nachiguro-color.color(blue, 800),
      focused:  nachiguro-color.color(blue, 800),
      disabled: nachiguro-color.color(blue, 600)
    ),
    background: (
      enabled:  nachiguro-color.color(blue,    50),
      hover:    nachiguro-color.color(blue,   100),
      focused:  nachiguro-color.color(white, 1000),
      disabled: nachiguro-color.color(blue,   200)
    ),
    border: (
      enabled:  nachiguro-color.color(blue,  400),
      hover:    nachiguro-color.color(blue,  600),
      focused:  nachiguro-color.color(blue,  700),
      disabled: nachiguro-color.color(blue,  400)
    )
  ),
  neutral: (
    text: (
      enabled:  nachiguro-color.color(gray, 800),
      hover:    nachiguro-color.color(gray, 800),
      focused:  nachiguro-color.color(gray, 800),
      disabled: nachiguro-color.color(gray, 600)
    ),
    background: (
      enabled:  nachiguro-color.color(gray,    50),
      hover:    nachiguro-color.color(gray,   100),
      focused:  nachiguro-color.color(white, 1000),
      disabled: nachiguro-color.color(gray,   200)
    ),
    border: (
      enabled:  nachiguro-color.color(gray,  400),
      hover:    nachiguro-color.color(gray,  600),
      focused:  nachiguro-color.color(blue,  700),
      disabled: nachiguro-color.color(gray,  400)
    )
  ),
  positive: (
    text: (
      enabled:  nachiguro-color.color(green, 800),
      hover:    nachiguro-color.color(green, 800),
      focused:  nachiguro-color.color(green, 800),
      disabled: nachiguro-color.color(green, 600)
    ),
    background: (
      enabled:  nachiguro-color.color(green,   50),
      hover:    nachiguro-color.color(green,  100),
      focused:  nachiguro-color.color(white, 1000),
      disabled: nachiguro-color.color(green,  200)
    ),
    border: (
      enabled:  nachiguro-color.color(green,  400),
      hover:    nachiguro-color.color(green,  600),
      focused:  nachiguro-color.color(green,  700),
      disabled: nachiguro-color.color(green,  400)
    )
  ),
  notice: (
    text: (
      enabled:  nachiguro-color.color(amber, 800),
      hover:    nachiguro-color.color(amber, 800),
      focused:  nachiguro-color.color(amber, 800),
      disabled: nachiguro-color.color(amber, 600)
    ),
    background: (
      enabled:  nachiguro-color.color(amber,  50),
      hover:    nachiguro-color.color(amber, 100),
      focused:  nachiguro-color.color(white, 1000),
      disabled: nachiguro-color.color(amber, 200)
    ),
    border: (
      enabled:  nachiguro-color.color(amber,  400),
      hover:    nachiguro-color.color(amber,  600),
      focused:  nachiguro-color.color(amber,  700),
      disabled: nachiguro-color.color(amber,  400)
    )
  ),
  negative: (
    text: (
      enabled:  nachiguro-color.color(red, 800),
      hover:    nachiguro-color.color(red, 800),
      focused:  nachiguro-color.color(red, 800),
      disabled: nachiguro-color.color(red, 600)
    ),
    background: (
      enabled:  nachiguro-color.color(red,     50),
      hover:    nachiguro-color.color(red,    100),
      focused:  nachiguro-color.color(white, 1000),
      disabled: nachiguro-color.color(red,    200)
    ),
    border: (
      enabled:  nachiguro-color.color(red,  400),
      hover:    nachiguro-color.color(red,  600),
      focused:  nachiguro-color.color(red,  700),
      disabled: nachiguro-color.color(red,  400)
    )
  ),
  attention: (
    text: (
      enabled:  nachiguro-color.color(orange, 800),
      hover:    nachiguro-color.color(orange, 800),
      focused:  nachiguro-color.color(orange, 800),
      disabled: nachiguro-color.color(orange, 600)
    ),
    background: (
      enabled:  nachiguro-color.color(orange,  50),
      hover:    nachiguro-color.color(orange, 100),
      focused:  nachiguro-color.color(white, 1000),
      disabled: nachiguro-color.color(orange, 200)
    ),
    border: (
      enabled:  nachiguro-color.color(orange,  400),
      hover:    nachiguro-color.color(orange,  600),
      focused:  nachiguro-color.color(orange,  700),
      disabled: nachiguro-color.color(orange,  400)
    )
  )
) !default;
